.input-box{
    position: relative;
    margin: 30px 0;
    text-align: left;
    p {
        position: absolute;
        font-size: 16px;
        color: #999999;
        font-weight: 100;
        top: 10px;
        transition: all 0.3s ease;
        &.active {
            top: -15px;
        }
    }
   
    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #666666;
        background: none;
        font-size: 16px;
        padding: 8px 0px;
        font-weight: 500;
        &:focus {
            color: #333;
        }
    }
    input[type=Password]{
        font-family: sans-serif;
    }
    &.error{
        input{
            border-bottom: 1px solid #bf130f;
        }
        p{
            color: #bf130f;
            position: relative;
            top:unset;
        }
    }

}